<div class="container">
    <div class="row ">
        <div class="col-md-8 mx-auto p-5" *ngFor="let post of service.myPost">
            <div class="card" >
                  <div class="card-body">
                  <h5 class="card-title">New post by {{post.UserName}}</h5>
                  <p class="card-text">{{post.Message}}
                  </p>

                  <img [src]="post.Url" class="rounded mx-auto d-block"  height="150px" width="150px">
             
                  <a href="#" class="btn btn-primary">Go somewhere</a>

                </div>
              </div>
    </div>
</div>
